# Minecraft RCON
RCON_HOST=127.0.0.1
RCON_PORT=25575
RCON_PASSWORD=qwerty123456

# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=john
DB_PASSWORD=qwerty123456
DB_NAME=db

# Шифрование (node -e "console.log(require('crypto').randomBytes(32).toString('hex'))")
ENCRYPTION_KEY=qwerty123456

# PayPal
# sandbox/production
PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=qwerty123456
PAYPAL_CLIENT_SECRET=qwerty123456

# Базовый URL сервера (для callback'ов PayPal)
BASE_URL=http://hlebcraft.su
